// _base
@import "../_base/colors.scss";
@import "../_base/typography.scss";
// _layout
@import "../_layout/background.scss";
@import "../_layout/flex.scss";
// _modules
@import "../_modules/buttons.scss";
@import "../_modules/cards.scss";
@import "../_modules/images.scss";
@import "../_modules/inputs.scss";

// HEADER NAV
.Header-container {
  @include flex(center, center, none, none);
  @include background-size(100vw, 7vh);
  @include p;
  background-color: $d-2;
  box-sizing: border-box;
  box-shadow: 0px 2px 6px 0px hsla(0, 0%, 0%, 0.2);
  position: fixed;
  top: 0;
  z-index: 1;
}

.Logo-container {
  @include flex(none, center, none, none);
  @include background-size(50vw, none);
  padding-left: 30px;
}

.Logo {
  @include logo(35px, $b-3, $b-1);
}

.Login-Register-container {
  @include background-size(50vw, none);
  @include flex(flex-end, center, none, none);
  padding-right: 30px;
  color: $white;

  .Pipe {
    @include background-size(25px, none);
    text-align: center;
    font-size: 1.5em;
    opacity: 0.3;
  }
}

.nav {
  @include oswald(17px, none, none, 0.05em, uppercase);
  color: $white;
}

.nav:hover {
  @include text-shadow-glow(4px, $b-1);
  color: $b-3;
  cursor: pointer;
  transition: 1s;
}

// Dialog styling

.Dialog-title {
  @include text-shadow-glow(10px, $b-1);
  @include francois-one(3em, bold, italic, -0.01em, uppercase);
  color: $b-4;
  background-color: $d-3;
  margin: -15px 0;
}

.Dialog-content {
  @include flex(center, center, column, none);
  @include poppins(1em, none, none, 0.03em, none);
  background-color: $d-3;
  color: $white;
  font-weight: bold;
  text-align: left;

  .Dialog-label {
    width: 110px;
    text-align: left;
    text-transform: uppercase;
    top: 0;
  }

  .Dialog-input {
    padding: 5px 0;
    // padding-left: 5px;
  }

  .input-text {
    @include input-text(160px, 35px);
    @include p;
  }

  .input-select {
    @include input-select(160px, 35px);
    @include p;
    font-weight: bold;
  }

  .input-textarea {
    @include input-select(160px, 70px);
    @include p;
    background-color: transparent;
    color: $white;
  }
}

.Dialog-btn {
  @include btn-primary(270px, 45px);
  @include oswald(17px, none, none, 0.07em, uppercase);
  color: $white;
  margin: 20px 0;
}

.Dialog-btn-style {
  @include btn-gradient;
}

.Dialog-btn:hover {
  @include btn-primary-hover;
}

input[type="file"] {
  display: none;
}

.Input-file {
  @include btn-secondary(160px, 35px);
  @include flex(center, center, none, none);
  @include p;
  cursor: pointer;
}

.Input-file:hover {
  background-color: transparent;
  @include border(2px, solid, $b-3);
}

.Btn-secondary {
  @include btn-secondary(160px, 35px);
  @include flex(center, center, none, none);
  @include p;
}

.Btn-secondary:hover {
  @include btn-secondary-hover;
}

.Btn-secondary-select {
  @include btn-secondary(160px, 35px);
  @include flex(center, center, none, none);
  @include p;
  margin-right: 10px;
  background-color: transparent;
  @include border(2px, solid, $b-3);
}
// FOOTER NAV
.FooterNav-container {
  @include background-size(100vw, 7vh);
  @include flex(center, center, none, none);
  background-color: $d-2;
  box-sizing: border-box;
  box-shadow: 0px 2px 6px 0px hsla(0, 0%, 0%, 0.2);
  position: fixed;
  bottom: 0;
  z-index: 1;
}

.Footernav {
  @include background-size(70px, none);
  @include flex(center, center, none, none);
  color: white;
  opacity: 0.7;
}

.Footernav:hover {
  color: $b-3;
  cursor: pointer;
  transition: 1s;
}

.Footernav-icon {
  size: 10px;
}

// MEDIA QUERIES
