// _base
@import "../_base/colors.scss";
@import "../_base/typography.scss";
// _layout
@import "../_layout/background.scss";
@import "../_layout/flex.scss";
// _modules
@import "../_modules/buttons.scss";
@import "../_modules/cards.scss";
@import "../_modules/images.scss";
@import "../_modules/inputs.scss";

.N-E-container {
  @include background-size(100vw, 100vh);
  @include flex(center, center, column, none);
  background-color: $d-1;
  overflow-y: auto;
}

.N-E-top {
  @include background-size(60%, 55%);
  @include flex(center, center, column, none);
  position: relative;
  top: 460px;
}

.N-E-title {
  @include francois-one(3em, bold, italic, 0.02em, uppercase);
  -webkit-text-stroke: 0.5px $b-4;
  color: $b-1;
}

hr {
  position: relative;
  top: -10px;
  opacity: 0.2;
  height: 0px;
}

.N-E-nav {
  @include flex(center, center, none, none);
}

.N-E-nav-links {
  @include oswald(17px, none, none, 0.05em, uppercase);
  color: $white;
  padding: 10px;
}

.N-E-nav-links:hover {
  @include text-shadow-glow(4px, $b-1);
  color: $b-3;
  cursor: pointer;
  transition: 1s;
  transform: scale(1.1);
}

.N-E-bottom {
  @include background-size(60%, auto);
  @include flex(center, center, column, none);
  padding: 40px 0;
  position: relative;
  top: 450px;
}

.Genre-container {
  @include flex(center, center, column, none);
  @include oswald(17px, none, none, 0.05em, uppercase);
  color: $white;
}
