// _base
@import "../_base/colors.scss";
@import "../_base/typography.scss";
// _layout
@import "../_layout/background.scss";
@import "../_layout/flex.scss";
// _modules
@import "../_modules/buttons.scss";
@import "../_modules/cards.scss";
@import "../_modules/images.scss";
@import "../_modules/inputs.scss";

.Profile-container {
  @include background-size(100vw, 100vh);
  @include flex(center, center, column, none);
  overflow-y: auto;
  background-color: $d-1;
}

.Profile-body {
  @include background-size(60vw, 100vh);
  @include flex(center, center, column, none);
  background-color: $d-3;
}

.Profile-top {
  @include background-size(100%, 30vh);
  @include flex(center, center, column, none);
}

.Profile-image {

}

.Profile-username {
  @include poppins(2em, bold, italic, 0.02em, uppercase);
  color: $b-4;
}

.Profile-city {
  
}

.Profile-bio {
}

.Profile-bottom {
  .Profile-title {
  }

  .Profile-tracks {
  }
}
