// Basics
$white: #ffffff;
$black: #000000;

// 1 - darkest
// Palette dark mode
$d-1: #312e30;
$d-2: #454244;
$d-3: #5a5759;
$d-4: #6e6c6e;
$d-5: #838182;
$d-6: #989697;
$d-7: #acabac;
$d-8: #c1c0c0;
$d-9: #d5d5d5;
$d-10: #eaeaea;

// Palette bright pinks/purples
$b-1: #5732a8;
$b-2: #9830b7;
$b-3: #ed5eb7;
$b-4: #ef87a9;
$b-5: #ffbbb1;

// Palette muted pinks/purples
$m-1: #b67c99;
$m-2: #c78eab;
$m-3: #dba0bd;
$m-4: #f4b3d3;
$m-5: #ffbdde;
